* {
  box-sizing: border-box;
  margin: auto;
  padding: auto;
}

body {
 background-color: black; 
 color: white;
}
/* nav bar */
nav {
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  z-index: 3;
  display: flex;
}

  .navLogo {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
    background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/848237784841977866/logo3.png");
    background-size: cover;
    height: 3rem;
    width: 3rem;
  }

    nav h1 {
      position: absolute;
      top: 0.8rem;
      left: 4.5rem;
      font-size: 1rem;
      text-transform: uppercase;
    }

  .icons {
    margin: auto;
    font-size: 1.3rem;
    display: flex;
    height: 100%;
    width: 275px;
  }

    .iconWrappers {
      display: flex;
      border-left: 1px solid rgba(128, 128, 128, 0.24);
      width: 100%;
      height: 100%;
    }

    .iconWrappers:hover {
      cursor: pointer;
    }

    .iconWrappers:last-child {
      border-right: 1px solid rgba(128, 128, 128, 0.24);
    }

      .iconWrappers i {
        margin: auto;
      }

      .homeIconWrapper {
        background-color: red;
      }

      #homeIcon {
        margin-top: 1.45rem;
      }
/* hero section */
.heroSection {
  margin-top: 4rem;
  height: 27rem;
  background-image: url("https://images.pexels.com/photos/669996/pexels-photo-669996.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

  .heroInner {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
  }

    .logo {
      background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/848237784841977866/logo3.png");
      width: 6rem;
      height: 6rem;
      background-size: cover;
    }

    .heroInner h1 {
      font-weight: bold;
      font-size: 1.4rem;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.185);
      border-bottom: 1px solid white;
      margin-bottom: 0.22rem;
    }

    .heroInner p {
      font-size: 1rem;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.185);
      color: rgba(255, 255, 255, 0.863);
      border-bottom: 1px solid white;
      padding-bottom: 0.1rem;
    }

/* section wrapper */

/* main */
.sectionWrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(59, 59, 59);
  color: rgba(255, 255, 255, 0.767);
}

/* showcaseGame */
.showcaseGame {
  width: 80%;
  height: 20rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: black;
}

  .showcaseOne {
    display: flex;
    width: 100%;
    height: 19.9em;
  }

    .showcaseOneMid {
      z-index: 1;
      display: flex;
      flex-direction: column;
      margin: auto;
      height: 4rem;
    }
    .showcaseOneMid h1 {
      font-size: 1.3rem;
    }
    .showcaseOneMid button {
      margin-top: 1rem;
      margin: auto;
    }

.rpcBody {
  z-index: 0;
  margin-top: -19.9rem;
  display: flex;
  width: 100%;
  height: 19.9rem;
  background-color: green;
}
  .curtains {
    transition: 1s;
    background-color: red;
    width: 50%;
    height: 100%;
  }
    .curtainOne {
      margin-left: 0;
      border-right: 1px solid black;
    }
    .curtainTwo {
      margin-right: 0;
      border-left: 1px solid black;
    }
  #rpcInner {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    border: 1px solid red;
  }

  .rpcButtons {
    width: 15rem;
    display: flex;
  }

  #rpcReset {
    display: none;
    width: 15rem;
  }

  #rpcResetButton {
    margin: auto;
    width: 3rem;
    height: 3rem;
    background-color: black;
    color: white;
  }

  #rpcResetButton p {
    margin-left: -0.3rem;
  }

  .rpcButtons button {
    margin: auto;
    width: 3rem;
    height: 3rem;
    background-color: black;
  }

  .rpcButtons button i {
    font-size: 2rem;
    margin-left: -0.3rem;
    color: white;
  }
  .rpcButtons button i:first-child {
    margin-left: -0.12rem;
  }
  .rpcButtons button i:last-child {
    margin-left: -0.2rem;
  }

  #instructions {
    margin: auto;
  }

.rpcGameBox {
  margin-top: 0;
  height: 60%;
  width: 100%;
  border: 1px solid red;
  display: flex;
}

  .rpcGameBox i {
    font-size: 4rem;
    margin-top: 1rem;
  }

  #playerCharacter {
    margin: auto;
    margin-left: 1rem;
    animation: player;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-play-state: paused;
  }

  #enemyCharacter {
    margin: auto;
    margin-right: 1rem;
    animation: player2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-play-state: paused;
  }

  @keyframes player {
    0% {
      margin-left: 2%;
    } 50% {
      margin-left: 28%;
    } 100% {
      margin-left: 2%;
    }
  }
  @keyframes player2 {
    0% {
      margin-right: 2%;
    } 50% {
      margin-right: 28%;
    } 100% {
      margin-right: 2%;
    }
  }


#resetButton {
  /* filler */
  opacity: 1;
}



/* sections */
.sections {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-right: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

  .sectionPart {
    display: flex;
    width: 350px;
    height: 6rem;
    cursor: pointer;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.63);
  }

    .mainPortfolio {
      background-image: url("https://images.unsplash.com/photo-1569702948069-343ed9bf6fe2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
      background-size: cover;
      background-position-y: 175px;
      border: 1px solid white;
    }

    .mainPortfolio:hover {
      border: 1px solid red;
    }

    .mainBlog {
      background-image: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1652&q=80");
      background-size: cover;
      background-position-y: 200px;
      border: 1px solid white;
    }

    .mainBlog:hover {
      border: 1px solid green;
    }

    .mainContact {
      background-image: url("https://images.unsplash.com/photo-1522098543979-ffc7f79a56c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1834&q=80");
      background-size: 30rem;
      background-position-y: 505px;
      background-position-x: -40px;
      border: 1px solid white;
    }

    .mainContact:hover {
      border: 1px solid yellow;
    }

    .sectionPart h1 {
      position: absolute;
      text-align: center;
      width: 8rem;
      margin-left: 6.6rem;
      margin-top: 2rem;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.596);
      font-size: 1.7rem;
      color: white;
      z-index: 1;
    }

    .greyed {
      z-index: 0;
      margin: auto;
      margin-left: 0;
      background-color: rgba(128, 128, 128, 0.479);
      width: 0%;
      height: 6rem;
      transition: 0.5s;
    } 

/* newsletter */
.newsLetter {
  width: 90%;
  margin: 2rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
}

  .newsLetterInnerWrapper {
    margin: auto;
    border: 1px solid rgba(128, 128, 128, 0.548);
    padding: 1rem;
  }

  .container h1 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .container {
    padding: 0.2rem;
  }

  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    border: none;
    cursor: pointer;
  }

  input[type=submit]:hover {
    opacity: 0.8;
  } 

/* footer */
footer {
  display: flex;
  height: 7rem;
  width: 100%;
  background-color: black;
}

  .footerWrapper {
    margin: auto;
  }

  .footWrapOne {
    display: flex;
    font-size: 2rem;
    width: 9rem;
  }

  .footWrapOne i {
    margin: auto;
  }

  .footWrapTwo {
    display: flex;
    font-size: 1.2rem;
  }

  .footWrapTwo p {
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: rgba(255, 255, 255, 0.781);
  }

@media (min-width: 1050px) {
  .heroSection {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    display: flex;
  }

  .sectionWrapper {
    padding: 2rem;
  }

  .sections {
    /* placeholder */
    display: block;
  }

  .newsLetter {
    width: 63%;
  }

  .showcaseGame {
    width: 50%;
  }
}

/* fixes sections when very small/mobile */
@media (max-width: 375px) {
  .sectionPart {
    width: 250px;
  }

  .mainPortfolio {
    background-position-y: 135px;
  }

  .mainBlog {
    background-position-y: 150px;
  }

  .mainContact {
    background-position-x: -100px;
  }

  .sectionWrapper {
    padding: 0rem;
  }

  .sectionPart h1 {
    margin-left: 3.4rem;
  }
}

/* removes my title name in the navbar when too small */
@media (max-width: 600px) {
  nav h1 {
    display: none;
  }
}
/* removes my logo in the navbar when too small */
@media (max-width: 435px) {
  .navLogo {
    display: none;
  }
}
