* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://images.pexels.com/photos/2098428/pexels-photo-2098428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.intro {
  transition: 1s;
  position: absolute;
  left: 50%;
  margin-top: -10rem;
  margin-left: -8rem;
  width: 16rem;
  color: white;
}
  .intro h1 {
    text-align: center;
    margin: auto;
    width: 15rem;
  }
  .intro h4 {
    text-align: center;
  }

.nav {
  position: absolute;
  text-align: center;
  width: 8em;
  left: 50%;
  margin-left: -4rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 1s;
  height: 20rem;
  margin-top: 16rem;
}
  .stick {
    height: 2rem;
    width: 1px;
    background-color: #ffffff00;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0.3rem auto;
    transition: 0.1s;
    color: rgb(255, 195, 83)
  }
  .nav a {
    transition: 0.66s;
  }
  .nav a:hover {
    color:rgb(255, 195, 83);
  }

.boxes {
  transition: 1.5s;
}
.bigBox {
  border: 1px solid white;
  position: absolute;
  height: 95vh;
  width: 92vw;
  left: 5%;
  top: 2.5vh;
  border-left: 0px;
  pointer-events: none;
  opacity: 0;
}

/* about */
#aboutWrapper {
  opacity: 0;
  pointer-events: none;
  color: white;
  margin: auto;
  margin-top: 7.5rem;
  width: 15rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  transition: 1s;
}

.selfie {
  width: 10rem;
  height: 10rem;
  background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/765390587704246272/pexels-photo-485294.png");
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: auto;
  margin-bottom: 1rem;
}

.personality p:first-child {
  margin-bottom: 0.5rem;
}

/* AHHHHHHHHHHHHHH */

#portfolioWrapper {
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: 1s;

  flex-direction: column;
  color: white;
  margin: auto;
  margin-top: 1.4rem;
  margin-right: 1rem;
  width: 86vw;
  height: 93vh;
  overflow-y: scroll;
}

/* website portfolio */

  .websitePortfolio {
    width: 90%;
    margin: 1rem auto;
  }

.showcaseWrapper {
  grid-area: showcase;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0;
  z-index: 3;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}

#gameSelection {
  margin: auto;
  margin-top: 0.77rem;
  display: flex;
  flex-direction: column;
}
#gameSelection h2 {
  color: white;
  font-size: 1.2rem;
  margin: auto;
}
.gameSelectionButtons{
  display: flex;
  margin: 0.5rem auto auto auto;
}

.gameButtons {
  background-color: rgb(36, 36, 36);
  border-radius: 5px;
  width: 3rem;
  height: 3rem;
  margin: auto;
  margin-left: 0.33rem;
  margin-right: 0.33rem;
  cursor: pointer;
}

.gameButtons i {
  font-size: 2rem;
  color: white;
}

.gameButtons i:nth-child(1) {
  margin-left: -0.13rem;
}

/* showcaseGame */
.showcaseGame {
  width: 20rem;
  height: 20rem;
}

/* seasaw */
#seasawBody {
  color: white;
  display: none;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

#ssUpper {
  height: 50%;
  width: 100%;
}

.ssScore {
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding-left: 3rem;
  padding-right: 3rem;
}

#ssLower {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-areas: "top top"
  "bottom bottom";
}

.leftButtons, .rightButtons {
  grid-area: top top;
  margin: auto;
}

.byButtons {
  display: flex;
  flex-direction: column;
  margin: -1rem auto auto auto;
  grid-area: bottom;
}

.byButtons p {
  font-size: 1.5rem;
  margin: auto;
}

#ssLower button {
  width: 4rem;
}

.ssObject {
  margin-top: 5.9rem;
}

#ss {
  height: 1rem;
  width: 15rem;
  background-color: white;
  border: 1px solid black;
  margin: auto;
}

#ssStand {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  background-color: white;
  border-radius: 50%;
  margin: auto;
}

#seasawBody {
  display: none;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.199);
}

/* pixel art editor */
#pixelBody {
  display: flex;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.199);
}

.pixelLeftWrap {
  height: 100%;
  width: 70%;
  margin-left: 0.1rem;
}

#gridChoice {
  color: white;
  display: flex;
  margin: 0;
  margin-top: 0.5rem;
}
  .gridChoiceInnerWrap {
    display: flex;
  }
  .gridChoiceInner {
    padding: 0.33rem;
  }

#pixelUiTop {
  display: flex;
  padding: 0.65rem;
}
  #pixelUiTop i {
    font-size: 1.33rem;
  }
  .backForwardsWrap {
    margin-left: 0rem;
  }
  #pixelReset, .pixelReset {
    margin-right: 0;
  }
  #pixelResetConfirm {
    display: none;
  }
  #pixelResetConfirmNo {
    margin-left: 0.35rem;
  }
  #forwards {
    opacity: 0.5;
    pointer-events: none;
  }
  #canvasSize {
    height: 1.6rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
    #canvasSize #xByX {
      height: 100%;
      width: 3.5rem;
      font-size: 1rem;
    }

.pixelRightWrap {
  height: 100%;
  width: 30%;
}

.colorBrightness {
  border: 1px solid black;
  width:  90%;
  height: 2rem;
  display: flex;
  margin: auto;
}

.brightnessClass {
  margin: auto;
  border: 1px solid black;
  width: 45%;
  height: 90%;
  cursor: pointer;
}

#darkerColor {
  background-color: rgb(43, 43, 43);
}

#brighterColor {
  background: rgb(117, 117, 117);
  color: rgb(0, 192, 0)
}

#animateButton {
  margin-left: 0.45rem;
  margin-top: 0.45rem;
  height: 2rem;
  width: 5rem;
}

.pixelArea {
  border: 1px solid rgba(0, 0, 0, 0.712);
  height: 70%;
  width: 100%;
  margin-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  cursor: crosshair;
}

.pixel {
  border: 1px solid black;
  width: 1.73rem;
  height: 1.73rem;
  /* width: 1.26rem;
  height: 1.26rem; */
  margin: auto;
  padding: auto;
  background-color: white;
}

.pixelUiRight {
  margin-top: 0;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
}

.colorChanger {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.colorChanger:hover {
  color: rgb(65, 65, 65);
}

#colorLeft {
  margin: auto;
  margin-left: 0.7rem;
}

#colorRight {
  margin: auto;
  margin-right: 0.7rem;
}

#currentVisual {
  display: flex;
}

#currentColorTitle {
  color: black;
  margin-bottom: 0.4rem;
  text-align: center;
}

#currentColor {
  width: 2.5rem;
  height: 2.5rem;
  background-color: black;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  margin: auto;
}

#colorSelection {
  width: 90%;
  height: 60%;
  margin: auto;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(214, 214, 214, 0.178);
}

.pixelColors {
  border: 1px solid rgba(0, 0, 0, 0.178);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  margin: auto;
}
/* colors compressed */
#black{background-color:rgb(0, 0, 0)}#white{background-color:rgb(255, 255, 255)}#blue{background-color:rgb(0, 0, 255)}#green{background-color:rgb(0, 128, 0)}#yellow{background-color:rgb(255, 255, 0)}#orange{background-color:rgb(255, 166, 0)}#red{background-color: rgb(255, 0, 0)}#purple{background-color:rgb(128, 0, 128)}

    /* sites */
.portfolioSite {
  height: 15rem;
  width: 15rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
  .imgWrapper {
    width: 100%;
    height: 100%;
  }
  .portfolioImgOne{
    height: 80%;
    width: 80%;
    background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/858686592187891712/unknown.png");
    background-size: contain;
    margin: auto;
    border-radius: 10%;
  }
    .portfolioImgTwo {
      height: 80%;
      width: 80%;
      background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/752330125332185198/unknown.png");
      background-size: contain;
      margin: auto;
      border-radius: 10%;
    }
      .portfolioImgThree {
        height: 80%;
        width: 80%;
        background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/762050870506291220/unknown.png");
        background-size: contain;
        margin: auto;
        border-radius: 10%;
      }
        .portfolioImgFour {
          height: 80%;
          width: 80%;
          background-image: url("https://cdn.discordapp.com/attachments/736393082831896590/858688977925308416/unknown.png");
          background-size: contain;
          margin: auto;
          border-radius: 10%;
        }
  .portfolioTitle {
    margin: auto;
    margin-top: -2.5rem;
  }
  .portfolioTitle a:hover {
    color: rgb(255, 195, 83);
  }


/* rpc */
.rpcBody {
  z-index: 0;
  display: none;
  width: 100%;
  height: 100%;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.199);
}
  #rpcInner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .rpcButtons {
    width: 15rem;
    display: flex;
    margin: auto;
    cursor: pointer;
  }

  #rpcReset {
    display: none;
    width: 15rem;
    margin: auto;
    cursor: pointer;
  }

  #rpcResetButton {
    margin: auto;
    width: 3rem;
    height: 3rem;
    background-color: black;
    color: white;
  }

  #rpcResetButton p {
    margin-left: -0.1rem;
  }

  .rpcButtons button {
    margin: auto;
    width: 3rem;
    height: 3rem;
    background-color: black;
  }

  .rpcButtons button i {
    font-size: 2rem;
    margin-left: -0.3rem;
    color: white;
  }
  .rpcButtons button i:first-child {
    margin-left: -0.12rem;
  }
  .rpcButtons button i:last-child {
    margin-left: -0.2rem;
  }

  #instructions {
    margin: auto;
  }

.rpcGameBox {
  margin-top: 0;
  height: 60%;
  width: 100%;
  display: flex;
}

  .rpcGameBox i {
    font-size: 4rem;
    margin-top: 1rem;
  }

  #playerCharacter {
    margin: auto;
    margin-left: 1rem;
    animation: player;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-play-state: paused;
  }

  #enemyCharacter {
    margin: auto;
    margin-right: 1rem;
    animation: player2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-play-state: paused;
  }

  @keyframes player {
    0% {
      margin-left: 2%;
    } 50% {
      margin-left: 28%;
    } 100% {
      margin-left: 2%;
    }
  }
  @keyframes player2 {
    0% {
      margin-right: 2%;
    } 50% {
      margin-right: 28%;
    } 100% {
      margin-right: 2%;
    }
  }